.pokemonDetails {
    position: absolute;
    z-index: 3;
    top:10%;
    padding: 2rem;
    background-color: #000;
    display: none;
    width: 600px;
    height: 800px;
}

.open {
    display: block;
}

ol {
    list-style: none;
}


/* ABA DETAILS POKEMON */

.detail-pokemon {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding-top: 0.5rem;
    color: #fff;
    border-radius: 1rem;
}

.detail-pokemon .detailNumber {
    font-size: 1rem;
    color: black;
    text-align: right;
    opacity: 0.3;
    padding: 0 1rem;
}

.detail-pokemon .detailName {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 0;
    font-size: 1.8rem;
    padding: 0 1rem;
}

.detail-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.detail-page .detail-types {
    display: flex;
    align-self: flex-start;
    padding: 0;

}

.detail-page .detail-types li {
    text-align: center;
    padding: 0 15px;
    margin-right: 15px;
    border-radius: 12px;
    
}

.detail-photo {
    width: 35%;
}


/* ABOUT SECTION */


.aboutPokemon {
    padding: 5% 20px;
    background-color: #fff;
    color: #000;
    border-radius: 1rem;
    
}

.aboutPokemon h2 {
    display: inline;

}

.aboutPokemon ol {
    display: flex;
    flex-direction: column;
    padding: 0;
    
}

.aboutPokemon ol li {
    display: flex;
    align-items: center;
    
}

.aboutPokemon p {
    flex: 1;
    color: #312f2f9f;
}

.aboutPokemon ol span {
    flex: 1;
    vertical-align: center;
    height:fit-content;
    
}


.return-btn {
    padding-left: 0.5rem;
    font-size: 1.6rem;
    color: #fff;
}

